<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="keywords" content="dayu,'fxdayu',大鱼,大鱼财经,新格网络科技有限公司,大鱼投资,大鱼外汇,">
<meta name="description"
      content="大鱼投资是一款基于移动互联网的金融应用，致力于做每个投资者的智能投资顾问。运用数据挖掘技术和人工智能算法，大鱼投资帮助投资者过滤无效信息，产生定制化的投资买卖建议。产品提供了财经资讯个性推荐、投资组合智能评分、量化信号一键生成、交易动态分享管理等功能。">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<meta name="viewport"-->
<!--content="width=device-width, initial-scale=0.5,  maximum-scale=1.0, user-scalable=yes">-->
<meta name="format-detection" content="telephone=no">
<!-- 指定网页使用 webkit 引擎渲染 -->
<meta name="renderer" content="webkit">
<!-- 防止百度转码后贴广告 -->
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<!--百度站长链接-->
<meta name="baidu-site-verification" content="VLhnByftry"/>
